body {
    background-color: #211e1d;
    font-family: raleway, monospace;
}

.title {
    color: #e2e0de;
    text-align: initial;
    font-size:clamp(0.5rem,1.5vw,2rem) ;
    padding: 7px;
    margin: 20px;
}

.icons{
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,50%);
    filter: contrast(10%)
}

.github{
    width: 100%;
    height: 100%;
    margin: 2%;

}

.github:hover{
    filter: invert(100%);

}

.discord{
    width: 100%;
    height: 100%;
    margin: 2%;
}

.discord:hover{
    filter: invert(100%);
}

.spotify{
    width: 100%;
    height: 100%;
    margin: 2%;
}

.spotify:hover{
    filter: invert(100%);
}

.instagram{
    width: 100%;
    height: 100%;
    margin: 2%;
}

.instagram:hover{
    filter: invert(100%);
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e0de;
    text-align: center;
    font-size: 1.5vh;
    line-height: 20px
}

.sourcecode{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e0de;
    text-align: center;
    font-size: 1.5vh;
    line-height: 20px
}
.sourcecode:hover{
    filter: contrast(0%);
}







