body {
    background-color: #211e1d;
    font-family: raleway, monospace;
}

.title {
    color: #e2e0de;
    text-align: initial;
    font-size:clamp(1rem,2vw,2.5rem) ;
    padding: 7px;
    margin: 20px;
}

.icons_grid{
    float: left;
    width:2.5%;
    padding:1vw;
    margin:1vh;
    display: flex;
    transform: translate(825%,835%);
    position: sticky;

}

.icons{
     width: clamp(5vw,5vw,3.5vw);
     filter:contrast(10%);
    position: absolute;
    left: 50%;
}

.icons:hover{
    filter: invert(100%);
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e2e0de;
    text-align: center;
    font-size: 1.5vh;
}







